
.acf-material-icons-select-item {
    display:inline-flex;
    flex-flow:row nowrap;
    align-items:center;
}

.acf-material-icons-select-item .icon {
    margin-right:10px;
    font-size:24px;
}

.select2-selection__rendered .acf-material-icons-select-item .icon {
    font-size:18px;
}
